/* system generated styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* begin new styles */
.App {
  text-align: left;
  width: 350px;
}

.customer_outer {
  clear: both;
  display: both;
  margin-bottom: 30px;
  border: solid 1px black;
}

.customer_name {
  border-bottom: solid 1px black;
}

.rewardsOuter {
  display: block;
  clear: both;
}

.line_break {
  display: block;
  clear: both;
}

.rewardTitle {
  float: left;
  margin-right: 30px;
  width: 150px;
  text-align: right;
}

.rewardValue {
  float: left;
}
